<!DOCTYPE html>
<html>
	<head>
		<title>Training</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body class="back" ng-app="Training" style="font-family:'Arial AMU';" ng-controller="show">
		<div id="body">

			<div id="header">

				<div id="main">
					<a href="index.html"> <img src="s070593.png" /></a>
					<ul>
						<li>
							<a href="">Home </a>
						</li>
						<li>
							<a href="roll.html">Log</a>
							<ul >
								<li ng-repeat="log in logs">
									<a href=""> {{log.groupnum}}</a>
									
								</li>
							</ul>
						</li>
						<li>
							<a href="">Informer </a>
						</li>
						<li>
							<a href="">Employment auditorium </a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>

			</div>
			<div id="wrapper">
				<div id="stiebar">
					<ul>
						<h3>subjeci</h3>
						<li ng-repeat="data in datas">
							<a href="">{{data.name}}</a>
						</li>
					</ul>
					<ul ng-repeat="data in datas">
						
						<h3>student</h3>
						<li  ng-repeat="student in data.student">
							<a href="">{{student.name }}</a>
						</li>

					</ul>
					<div class="clear"></div>
				</div>
				<div id="information">
					<h3> Information about web page </h3>
					<p>
						Information about web page Information about web page Information about web page

					</p>

				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>