<div id="wrapper" ng-controller="student" ng-init="load()">
	<ul style="float: left" >
		<h4>Surname Name</h4>
		<li>
			<a ng-repeat="student in students" ng-click="load()">{{student.name}} {{student.surname}}
			<br>
			</a>
		</li>
	</ul>
	<div id="table">
		<div class="row">
			<div><h4 > Lise Subjects  </h4></div>
			<div ng-repeat="subject in subjects" ><a href=""> {{subject.name}} </a></div>
			
		</div>
		<div class="row" ng-repeat="rol in roll">
			<div style="font-size: 12px; "><h4>{{rol.day}}</h4> </div>
			<div  ng-repeat="student in rol.student" ><input type="checkbox" ng-change="{{student.absence}}"> {{student.mark}} </div>
			
			<div> {{studen.mark}} </div>
		</div>
		
			
	</div>
<div class="clear"></div>

</div>
