<div id="wrapper" ng-controller="log" ng-init="load()">
	<ul style="float: left" >
		<h4>Lise Subjects</h4>
		<li>
			<a ng-repeat="subject in subjects" ng-click="rol(subject.id)">{{subject.name}}
			<br>
			</a>
		</li>
	</ul>
	<div id="table">
		<div class="row">
			<div><h4 > Surname Name </h4></div>
			<div ng-repeat="student in students" ng-controller="student"  ><a href="" ng-click="menuclick('student')"> {{student.surname}} {{student.name}}</a></div>
			
		</div>
		<div class="row" ng-repeat="rol in roll">
			<div style="font-size: 12px; "><h4>{{rol.day}}</h4> </div>
			<div  ng-repeat="student in rol.student" ><input type="checkbox" ng-change="{{student.absence}}"> {{student.mark}} </div>
			
			<div> {{studen.mark}} </div>
		</div>
		
			
	</div>
<div class="clear"></div>

</div>
